@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=GFS+Didot&display=swap');
:root {
  --color-primary: #010101;
  --color-secondary: #F6B523;
  --big-text: "Bodoni Moda SC", serif;
  --medium-text: "GFS Didot", serif;
 
}

div{
  color: var(--color-secondary);
  font-family: var(--medium-text);
}