@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=GFS+Didot&display=swap');
:root {
  --color-primary: #010101;
  --color-secondary: #F6B523;
  --big-text: "Bodoni Moda SC", serif;
  --medium-text: "GFS Didot", serif;
 
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav{
  color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  align-self: center;
  text-align: center;
}
ul{
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

/* Slider style */
.slider-container {
  position: relative;
  width: 100%;
  height: 800px;
  margin:0 auto;
  overflow-x: hidden;
  padding-top: 10rem;
}

.slider-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  position: absolute;
  top: 0.1;
  bottom: 5px;
  left: 0;
}

.slider-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: #010101 1px 1px 1px;
  /* background: rgba(0, 0, 0, 0.5); Transparent black background */
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 44px;
  text-align: center;
  font-weight: bold;
  font-family: var(--big-text);
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  z-index: 10;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}