@font-face {
    font-family: 'Vonique_64';
    src: url('./assets/fonts/Vonique64.ttf') format('truetype'); /* Use the correct format based on your file type */
    font-weight: normal;
    font-style: normal;
  }
  